version: '3.8'

services:

  mongodb:
    image: mongo:latest
    ports:
      - 27017:27017
    environment:
      - MONGO_INITDB_ROOT_USERNAME=${MONGO_USERNAME:?err}
      - MONGO_INITDB_ROOT_PASSWORD=${MONGO_PASSWORD:?err}
      - MONGO_INITDB_DATABASE=${MONGO_DATABASE:?err}
    volumes:
      - ./docker-volumes/mongo:/data/db
      - ./db/mongo-init/:/docker-entrypoint-initdb.d/:ro

  minio:
    image: minio/minio
    command: server --console-address ":9001" /data/
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      - MINIO_ROOT_USER=${AWS_ACCESS_KEY:?err}
      - MINIO_ROOT_PASSWORD=${AWS_SECRET_ACCESS_KEY:?err}
    volumes:
      - ./docker-volumes/minio/.minio/data:/export
      - ./docker-volumes/minio/.minio/config:/root/.minio

  postgres:
    image: postgres
    ports:
      - "0.0.0.0:8432:5432"
    environment:
      - POSTGRES_USER=${POSTGRES_USER:?err}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD:?err}
      - POSTGRES_PORT=${POSTGRES_PORT:?err}
      - POSTGRES_HOST=${POSTGRES_HOST:?err}
    volumes:
      - "./docker-volumes/postgres:/var/lib/postgresql"
      - ./db/postgres-init/pg-database.init.sql:/docker-entrypoint-initdb.d/pg-database.init.sql

  # app:
    # build: ./
    # ports:
      # - ${APP_PORT:?err}:${APP_PORT}
    # command: yarn run start:dev
    # depends_on:
      # - mongodb
      # - minio
      # - postgres
